@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-rgb: 34, 34, 34;
  --text-primary-color: #A1A1A1;
}

body {
  background-color: rgb(var(--body-rgb));
  color: var(--text-primary-color)
}

* {
  ::-webkit-scrollbar{
    color: #1a1a1a;
  }
}

.container{
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
}

.category-list{
  *::-webkit-scrollbar {
    width: 0 !important;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
