.single-item {
    &:hover, &:active {
        .description {
            opacity: 1;
        }
    }
    .description {
        box-sizing: border-box;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: #fff;
        padding: 0 10px;
        background-color: rgba(0,0,0,.85);
        opacity: 0;
        font-size: 11px;
        font-variation-settings: "wdth" 75,"wght" 300;
        text-align: center;
        transition: opacity .2s ease-out;
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        border-radius: 7px;
    }
}